.wine {
    display: flex;
    gap: 4rem;
    margin-top: 4rem;

    &-image {
        position: relative;
        height: 35rem;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: top;
        }
    }

    &-details {

        h1 {
            text-align: left;
        }

        p {
            margin-top: 1rem;
        }
    }
}