.home {
    
    &-wines {
        padding-block: 6rem;

        &-inner {
            @extend %container; 
        }

        h2 {
            text-align: center;
        }

        &-title {
            display: flex;
            justify-content: space-between;
            gap: 2rem;
        }
    }
}