<footer class="footer">
    <div class="footer-container">
        <small>Wine list from <a target="_blank" rel="noopener noreferrer" href="https://sampleapis.com/api-list/wines">Sample APIs</a>.</small>
    </div>
</footer>