<header class="header">
    <div class="header-container">
        <div class="header-logo">
            <p><a href="/">Wines</a></p>
        </div>
        <nav class="header-nav">
            <ul>
                <li><a class="btn" href="/wines/reds">Red Wines</a></li>
                <li><a class="btn" href="/wines/whites">White Wines</a></li>
                <li><a class="btn" href="/wines/sparkling">Sparkling Wines</a></li>
            </ul>
        </nav>
    </div>
</header>